@model HomeViewModel

@await Html.PartialAsync("Carousel")

<h2 class="text-center font-weight-normal mt-2 mb-2" style="font-family: 'Alata', sans-serif;">Special Items of the Week</h2>

<div class="row">
    @foreach (var bakeryitem in Model.PreferredBakeryItems)
    {
        @Html.Partial("BakeryItemsSummary",bakeryitem)
    }
</div>