

<div>
    <h2>All the product are shown here</h2>
</div>
<h2>@Model.CurrentCategory</h2>

@{
    foreach(BakeryItem bakeryitem in Model.BakeryItems)
    {
        @Html.Partial("BakeryItemsSummary", bakeryitem)
    }
}