

<div>

</div>
<h2 style="font-family: 'Alata', sans-serif;" class="m-2;">@Model.CurrentCategory</h2>
<div class="row marginTop">
    @{

        foreach (BakeryItem bakeryitem in Model.BakeryItems)
        {
            @Html.Partial("BakeryItemsSummary", bakeryitem)
        }
    }

    </div>